<!--=== End Top ===-->

<!-- Fixed navbar -->
<div class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="row">

      <div class="navbar-header col-md-2">
        <%= link_to image_tag("pundler_quill.png", width: "100px", alt:"Pundler"), '#', id: "logo" %>
      </div>


      <div class="navbar-collapse  col-md-3 pull-right">
        <ul class="nav navbar-nav">
          <li class="active"><%= link_to 'Features', '#'%></li>
          <li ><%= link_to 'Who uses it?', '#'%></li>
          <li ><%= link_to 'Pricing', '#'%></li>
          <li ><%= link_to 'About us', '#'%></li>
          <li ><%= link_to 'Blog', '#'%></li>
          <li><%= link_to "Sign up", '#'%></li>
          <li><button class="btn-group btn btn-primary-individual" type="button">Sign in</button></li>


        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
<!-- /Fixed navbar -->